body {
    display: flex;
    background-image: linear-gradient(to top right,gray,black);


}

h1 {
   color: rgb(0, 0, 0);
   font-family:monospace;
   justify-content: center;
   align-items: center;
   display: flex;
   margin: 0;
   padding: 0;
    
    
}

a {
    color:white;
    font-family:'Agency FB';
    font-size: 24px;


}

img {
width: 95%;
height: 75%;
}


div {
    color: black;
    background-color: black;
    width:fit-content;
    height: 700px;
}


div h2 {
    color: white;
    font-family: monospace;
}

div P {
    color: white;
    font-family: 'Agency FB';
}


hr {
    clear:both;

}