body {
    display: flex;
    background-image: linear-gradient(to top right,gray,black);


}

article {
    block-size: 300px;
    color:white;
    background-color: black;
    font-family: Arial;
    font-size: 14px;
    border: 4px solid grey;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

a {
    font-family: monospace;
    color: white;
}

hr {
    clear:both;
}