body {
    background-image: url("cntctwppr.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
}

h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Agency FB';
    color: white;
}